---
import Base from "@layouts/Base.astro";
import { site } from "@lib/strapi";
import { FaTwitter, FaFacebookF } from "react-icons/fa6";
const content = site[0].privacyPolicy;
---

<Base>
  <section class="section pb-0 pt-[10px] privacy_policy">
    <div class="container">
      <div class=" condation-text">
        <div class="mb-16 text-left text-[#000]">
          <div
            class="w-full pt-[50px] mb-[10px]"
          >
            <h1 class="md:text-[2.5rem] text-[1.8rem] text-[#000]">
              Privacy Policy
            </h1>
          </div>
          <div class="w-full flex items-center justify-end social_icons mb-[30px]">
                  
            <span class="text-[#fff] text-[14px]"><a href="#" class="flex items-center justify-center"><FaTwitter/></a></span>
            <span class="text-[#fff] text-[14px]"><a href="#" class="flex items-center justify-center"><FaFacebookF/></a></span>
          </div>
          <div class="text-[#000]">
            <div set:html={content} />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
