@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}

body {
  font-family: 'Roboto', sans-serif;
}
.social_icons {
  a {
    svg {
      fill: rgb(191,29,32);
    }
    &:hover {
      background-color: rgb(191,29,32);
      color: rgb(0,49,108);
      svg {
        fill: rgb(0,49,108);
      }
    }
  }
}

header.header {
  .social_icons {
    a {
      padding: .375rem .75rem;
      svg {
        fill: rgb(0,49,108);
      }
      &:hover {
        color: rgb(0,49,108);
        background-color: transparent;
        svg {
          fill: rgb(191,29,32);
        }
      }
    }
  }
  ul#nav-menu {
    margin-bottom: 0px !important;
  }
}


@media only screen and (max-width: 767px) {
  footer.footer {
    .footer_inner {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .for-over-style {
        a {
          padding: 10px !important;
        }
      }
    }
  }
}