@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}

body {
  font-family: 'Roboto', sans-serif;
}
.social_icons {
  a {
    svg {
      fill: rgb(191,29,32);
    }
    &:hover {
      background-color: rgb(191,29,32);
      color: rgb(0,49,108);
      svg {
        fill: rgb(0,49,108);
      }
    }
  }
}

header.header {
  .social_icons {
    a {
      padding: .375rem .75rem;
      svg {
        fill: rgb(0,49,108);
      }
      &:hover {
        color: rgb(0,49,108);
        background-color: transparent;
        svg {
          fill: rgb(191,29,32);
        }
      }
    }
  }
  ul#nav-menu {
    margin-bottom: 0px !important;
  }
}
.privacy_policy, .ccpa-page, .dmca-page, .content_bae_page {
  .social_icons {
    a {
      padding: 5px 10px;
      &:hover {
        background-color: transparent;
        color: rgb(191,29,32);
        svg {
          fill: rgb(191,29,32);
        }
      }
      svg {
        fill: rgb(0, 49, 108);
      }
    }
  }
  p {
    color: #444444;
    font-size: 18px !important;
    font-weight: 400;
    line-height: 33px;
    font-family: "Open Sans";
    span {
      color: #444444 !important;
    }
  }
  a {
    color: #007bff !important;
    text-decoration: underline;
  }
  ol {
    list-style-type: disc;
    li {
      span {
        color: #444444 !important;
        font-size: 18px !important;
        font-weight: 400;
        line-height: 33px;
        font-family: "Open Sans";
      }
    }
  }
  .c-content ul {
    list-style: number;
  }
}
.ccpa-page, .content_bae_page {
  .single_post {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1rem;
    img {
      border-radius: 20px;
    }
    h2 {
      color: #13305a;
      font-family: "Open Sans";
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 5px;
    }
    span {
      color: #00adef;
      display: inline-block;
      font-size: 12px;
      font-family: "Open Sans";
      line-height: 26px;
      margin-bottom: 5px;
    }
    p {
      font-family: "Open Sans";
      font-size: 14px !important;
      font-weight: 400;
      line-height: 22px;
    }
  }
}

@media only screen and (max-width: 767px) {
  footer.footer {
    .footer_inner {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .for-over-style {
        a {
          padding: 10px !important;
        }
      }
    }
  }
}