---
import Base from "@layouts/Base.astro";
import { nativePosts, site } from "@lib/strapi";
import { removeSpecialChars } from "@lib/utils/textConverter";

const content = site[0].contactUs;
const heroPosts = nativePosts.slice(0, 3);
---

<Base >
  <section class="section pt-[10px] content_bae_page">
    <div class="container">
      <div class="grid md:grid-cols-3 gap-4 p-4">
        <div class="md:col-span-2 p-4 condation-text ">
          <div
            class="mb-8"
          >
            <div class="basis-[70%]">
              <h1>Contact Us</h1>
            </div>
          </div>
          <div class="md:col-span-2 py-4 ">
            <div class="w-full" set:html={content}></div>
          </div>
        </div>
        <div class="md:col-span-1 px-4 lg:pl-[2rem]">

          <div class="">
            {
              heroPosts.map((post) => (
                <div class="single_post">
                  {post.imageUrl && (
                    <img
                      class=" transition duration-300 w-full h-full object-cover"
                      src={
                        post.imageSmallUrl
                          ? post.imageSmallUrl
                          : post.imageMediumUrl || "/images/placeholder.png"
                      }
                      width={
                        post.imageSmallWidth
                          ? post.imageSmallWidth
                          : post.imageMediumWidth
                      }
                      height={
                        post.imageSmallHeight
                          ? post.imageSmallHeight
                          : post.imageMediumHeight
                      }
                      alt={post.title}
                      fetchpriority={"high"}
                      loading={"eager"}
                      decoding="async"
                    />
                  )}
                  <h2>
                    {post?.title}
                  </h2>
                  <span>{post.author}</span>
                  <p>
                    {removeSpecialChars(post.content)?.slice(0,80)}...
                  </p>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
