---
import Base from "@layouts/Base.astro";
import SidebarPosts from "@layouts/components/SidebarPosts.astro";
import { nativePosts, site } from "@lib/strapi";
import { removeSpecialChars } from "@lib/utils/textConverter";

const content = site[0].cookiePolicy;
const heroPosts = nativePosts.slice(0, 3);
---

<Base>
  <section class="section pb-0 pt-[10px] content_bae_page">
    <div class="container">
      <div class="grid md:grid-cols-3 gap-4 p-4">
        <div class="md:col-span-2 p-4 condation-text ">
          <div class="mb-16 text-left text-[#000]">
            <div
              class="w-full mb-[20px]"
            >
              <h1 class="md:text-[36px] text-[22px] text-[#000]">
                Cookie Policy
              </h1>
            </div>
            <div
              class="text-[#000]"
            >
              <div set:html={content} />
            </div>
          </div>
        </div>
        <div class="md:col-span-1 px-4 lg:pl-[2rem]">
          <SidebarPosts />
        </div>
      </div>
    </div>
  </section>
</Base>
