---
import Base from "@layouts/Base.astro";
import "../styles/nubia-theme.scss";
import { site } from "@lib/strapi";
import { FaTwitter, FaFacebookF } from "react-icons/fa6";
const content = site[0].dcma;
---

<Base>
  <section class="section pb-0 pt-[10px] content_bae_page">
    <div class="container-fluid">
      <div class="grid md:grid-cols-4 gap-4 p-4">
        <div class="md:col-span-1 p-4"><div class="px-[15px]"></div>
        </div>
        <div class="md:col-span-2 p-4 condation-text">
          <div class="mb-16 text-left text-[#000]">
            <div class="w-full mb-[20px] font-bold">
              <h1 class="md:text-[36px] text-[22px] text-[#000] mb-0">DMCA Policy</h1>
            </div>
            <div class="w-full flex items-center justify-end social_icons mb-[30px]">
              <span class="text-[#fff] text-[14px]"><a href="#" class="flex items-center justify-center"><FaTwitter/></a></span>
              <span class="text-[#fff] text-[14px]"><a href="#" class="flex items-center justify-center"><FaFacebookF/></a></span>
            </div>

            <div class="c-content">
              <!-- <header class="entry-header">
                <h1 class="entry-title">DMCA Policy</h1>
                <div class="post-meta-info">
                  <div></div>
                </div>
              </header> -->
              <div class="entry-content" set:html={content}></div>
            </div>
          </div>
        </div>
        <div class="md:col-span-1 px-4 lg:pl-[2rem]">
          <div class="single_post">
            <img src="../../public/images/post-demo.jpg" alt="post-demo"/>
            <h2>The Biggest NFL Draft Busts That Still Haunt Teams Today</h2>
            <span>Brian E.</span>
            <p>Every NFL fan dreams of their team landing the next superstar in the draft, the kind of player who ...</p>
          </div>
          <div class="single_post">
            <img src="../../public/images/post-demo.jpg" alt="post-demo"/>
            <h2>The Biggest NFL Draft Busts That Still Haunt Teams Today</h2>
            <span>Brian E.</span>
            <p>Every NFL fan dreams of their team landing the next superstar in the draft, the kind of player who ...</p>
          </div>
          <div class="single_post">
            <img src="../../public/images/post-demo.jpg" alt="post-demo"/>
            <h2>The Biggest NFL Draft Busts That Still Haunt Teams Today</h2>
            <span>Brian E.</span>
            <p>Every NFL fan dreams of their team landing the next superstar in the draft, the kind of player who ...</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
